body {
}
.grid-layout {
    display: grid;
    gap: 1.5rem;
    /*grid-template-columns: repeat(3, 1fr);*/
    padding-block: 1.5rem;
    width: min(95%, 100rem);
    margin-inline: auto;
}
.col-span-2 {
    grid-column: span 2;
}
.col-span-3 {
    grid-column: span 3;
}

h2 {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 30px;
    color: black;
}
p {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 16px;
    color: black;
}
.test {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background-color: #f2f2f2;
    height: 250px;
    border: 2px solid black;
    border-radius: 6px;
    overflow-y: scroll;
}
@media (min-width: 40em) {
    .grid-layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 60em) {
    .grid-layout {
        grid-template-columns: repeat(3, 1fr);
    }
}