@page "/Wall"

@inherits WallBase


<div class="grid-layout">
    <div>
        <AuthorizeView Context="authContext">
            <Authorized>
                <CreatePostComponent></CreatePostComponent>
                
               @* <a href="/AddPost">Create Post</a>*@
            </Authorized>
            <NotAuthorized>
                <h2>You Need to Sign In to make a post</h2>
            </NotAuthorized>
        </AuthorizeView>

    </div>
    <div>
       @* @if (Posts == null)
        {
            <p><em>NOTHING HERE</em></p>
        }
        else
        {
            @foreach (var post in Posts)
            {
                <h2>@post.Title</h2>
                <br />
                <p>@post.Content</p>
            }
        }*@
    </div>
</div>


@code {
    
}
