@page "/Wall"

@inherits WallBase


<div class="grid-layout">
    <div>
        <AuthorizeView Context="authContext">
            <Authorized>
                <a href="/CreatePost">Go make a post</a>
            </Authorized>
            <NotAuthorized>
                <h2 class="signIn">You Need to Sign In to make a post</h2>
                <a href="/Identity/Account/Login">Click to go to SignIn</a>
            </NotAuthorized>
        </AuthorizeView>

    </div>
    <fieldset class="col-span-2">
        <legend>Wall</legend>
        <div class=" test">
            @if (Posts == null)
            {
                <p><em>NOTHING HERE</em></p>
            }
            else
            {

                @foreach (var post in Posts)
                {
                    <h2 class="postTitle">@post.Title</h2>

                    <p class="postContent">@post.Content</p>
                    <p class="postContent">@post.Created.ToString("dd/MM/yyyy")</p>
                    <hr />
                }
            }
        </div>
    </fieldset>
</div>


@code {

}
