@page "/Wall"
@inherits WallBase


<div class="grid-layout">
    <div>
        <AuthorizeView>
            <Authorized>
               @* <h2>Create new post</h2>
               
                <EditForm Model="@FormData">
                    <label>
                        Titel
                        <InputText @bind-Value=FormData.Title />
                    </label>

                    <label>
                        Add Content
                        <InputTextArea @bind-Value=FormData.Content />
                    </label>

                    <button type="submit">Submit</button>
                </EditForm>*@
            </Authorized>
            <NotAuthorized>
                <h2>Sign In to make a post</h2>
            </NotAuthorized>
        </AuthorizeView>
    </div>
    <div>
        @* <form action="/">
        <p><label for="post">Article</label></p>
        <textarea id="post" name="post" rows="4" cols="50"></textarea>
        <br>
        <input type="submit" value="Submit">
        </form>*@
    </div>
    <div></div>
</div>


@code {

}
