
.grid-layout {
    display: grid;
    gap: 1.5rem;
    /*grid-template-columns: repeat(3, 1fr);*/
    padding-block: 1.5rem;
    width: min(95%, 100rem);
    margin-inline: auto;
}
.col-span-2 {
    grid-column: span 2;
}
.test {
    background-image: linear-gradient(180deg, rgb(11, 103, 143) 0%, #90FFFF 90%);
    color: #f2f2f2;
    border: 2px solid black;
    border-radius: 4px;
}
.signIn {
    font-size: 20px;
    color: #f2f2f2;
}
/*p {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 16px;
    color: #f2f2f2;
}*/
.postTitle {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 25px;
    color: #f2f2f2;
}
.postContent {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 16px;
    color: #f2f2f2;
}
@media (min-width: 40em) {
    .grid-layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 60em) {
    .grid-layout {
        grid-template-columns: repeat(3, 1fr);
    }
}